.header__lang-link_en {
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  margin-left: 18px;
}

.header__lang-link_en:hover {
  opacity: .5;
  transition: opacity .3s ease;

}

@media screen and (max-width: 767px) {
  .header__lang-link_en {
    font-size: 18px;
    line-height: 20px;
  }
 }
