.cover__link {
  background-image: url(../../../images/cover/__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  padding: 245px 0;
  opacity: 1;
  max-width: 1184px;
  width: 100%;

  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__link:before{
  content: '';
    display: block;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    transition: opacity 0.2s linear;
}

.cover__link:hover::before {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    padding: 195px 0;
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    padding: 115px 0;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    max-width: 320px;
    padding: 25px 0;
  }
}

