.places {
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: white;
  margin: 92px auto;
  object-fit: contain;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .places {
    margin: 92px auto;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 720px;
    margin-top: 91px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 288px;
    margin: 64px 0 0 0;
  }
}
