.lead {
  grid-area: lead;
  font-family: Inter;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 984px;
  min-height: 1005px;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
  object-fit: scale-down;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: calc(100% + 24px*2);
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    width: calc(100% + 16px*2);
    margin-left: -16px;
    margin-right: -16px;
    max-width: 320px;
    min-height: 406px;
  }

}








