.main {
  /*с флексами всё отлично на больших экранах и между точками, но съезжают некоторые блоки. + Без них всё ровняется не по центру, а по левому краю - некрасиво*/
}

@media screen and (min-width:1281px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {

}
