.header{
  grid-area: header;
  min-height: 52px;
  padding: 0;
  text-decoration: none;

  color: white;
  font-family: Inter;
  margin: 1.75rem 0 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

