.header{
  max-width: 1184px;
  margin: 28px auto;
  grid-area: header;
  padding: 0 48px;
  text-decoration: none;
  color: white;
  font-family: 'Inter', ‘Arial’, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
    margin: 16px auto;
  }
}
