.header{
  max-width: 1184px;
  margin: 28px auto;
  grid-area: header;
  padding: 0 48px;
  text-decoration: none;

  color: white;
  font-family: Inter;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

