.cover {
  font-family: Inter;
  color: white;
  grid-area: cover;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.cover:hover .cover__background{
  opacity: 0.3;
  transition: opacity .3s ease;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1023px;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: calc(100% + 24px*2);
    margin-top: 90px;
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
    width: calc(100% + 16px*2);
    margin-top: 66px;
  }
}

